<img src="https://github.com/Microsoft/sqlworkshops/blob/master/graphics/solutions-microsoft-logo-small.png?raw=true" alt="Microsoft">
<br>

# SQL Server 2019 big data cluster Tutorial
## 02 - Data Virtualization

In this tutorial you will learn how to create and query Virtualized Data in a SQL Server big data cluster.  
- You'll start with creating a text file format, since that's the type of data you are reading in. 
- Next, you'll create a data source for the SQL Storage Pool, since that allows you to access the HDFS system in BDC. 
- Finally, you'll create an External Table, which uses the previous steps to access the data.

In [0]:
/* Clean up only - run this cell only if you are repeating the tutorial! */
USE WideWorldImporters;
GO

DROP EXTERNAL TABLE partner_customers_hdfs
DROP EXTERNAL FILE FORMAT csv_file
DROP EXTERNAL DATA SOURCE SqlStoragePool

In [1]:
/* Create External File Format */

USE WideWorldImporters;
GO

CREATE EXTERNAL FILE FORMAT csv_file
WITH (
    FORMAT_TYPE = DELIMITEDTEXT,
    FORMAT_OPTIONS(
        FIELD_TERMINATOR = ',',
        STRING_DELIMITER = '0x22',
        FIRST_ROW = 2,
        USE_TYPE_DEFAULT = TRUE)
);
GO

In [2]:
/* Create External Data Source to the Storage Pool */
CREATE EXTERNAL DATA SOURCE SqlStoragePool
WITH (LOCATION = 'sqlhdfs://controller-svc/default');

In [3]:
/* Create an External Table that can read from the Storage Pool File Location */
CREATE EXTERNAL TABLE [partner_customers_hdfs]
    ("CustomerSource" VARCHAR(250) 
    , "CustomerName" VARCHAR(250) 
    , "EmailAddress" VARCHAR(250))
    WITH
    (
        DATA_SOURCE = SqlStoragePool,
        LOCATION = '/partner_customers',
        FILE_FORMAT = csv_file
    );
GO

In [5]:
/* Read Data from HDFS using only T-SQL */

SELECT TOP 10 CustomerSource
, CustomerName
, EMailAddress
    FROM [partner_customers_hdfs] hdfs
WHERE EmailAddress LIKE '%wingtip%'
ORDER BY CustomerSource, CustomerName;
GO

CustomerSource,CustomerName,EMailAddress
AdventureWorks,Ã…Å¡ani Nair,Ã¥Å¡ani@wingtiptoys.com
AdventureWorks,Ã…Å¡ani Sen,Ã¥Å¡ani@wingtiptoys.com
AdventureWorks,Aakriti Bhamidipati,aakriti@wingtiptoys.com
AdventureWorks,Aamdaal Kamasamudram,aamdaal@wingtiptoys.com
AdventureWorks,Abel Pirvu,abel@wingtiptoys.com
AdventureWorks,Abhaya Rambhatla,abhaya@wingtiptoys.com
AdventureWorks,Abhra Thakur,abhra@wingtiptoys.com
AdventureWorks,Adam Balaz,adam@wingtiptoys.com
AdventureWorks,Adirake Narkbunnum,adirake@wingtiptoys.com
AdventureWorks,Adirake Saenamuang,adirake@wingtiptoys.com

In [6]:
/* Now Join Those to show customers we currently have in a SQL Server Database 
and the Category they qre in the External Table */
USE WideWorldImporters;
GO

SELECT TOP 10 a.FullName
  , b.CustomerSource
  FROM Application.People a
  INNER JOIN partner_customers_hdfs b  ON a.FullName = b.CustomerName
  ORDER BY FullName ASC;
  GO

FullName,CustomerSource
Aahlada Thota,AdventureWorks
Aakarsha Nookala,AdventureWorks
Aakriti Bhamidipati,AdventureWorks
Aamdaal Kamasamudram,AdventureWorks
Abel Pirvu,AdventureWorks
Abhaya Rambhatla,AdventureWorks
Abhra Thakur,AdventureWorks
Adam Balaz,AdventureWorks
Adam Dvorak,AdventureWorks
Adam Kubat,AdventureWorks

## Next Steps: Continue on to Working with the SQL Server Data Pool

Now you're ready to open the next Python Notebook - `bdc_tutorial_03.ipynb` - to learn how to create and work with a Data Mart.