<img src="https://github.com/Microsoft/sqlworkshops/blob/master/graphics/solutions-microsoft-logo-small.png?raw=true" alt="Microsoft">
<br>

# SQL Server 2019 big data cluster Tutorial
## 04 - Using Spark for ETL

In this tutorial you will learn how to work with Spark Jobs in a SQL Server big data cluster. 

Many times Spark is used to do transformations on data at large scale. In this Jupyter Notebook, you'll read a large text file into a Spark DataFrame, and then save out the top 10 examples as a table using SparkSQL.

In [3]:
# Read the product reviews CSV files into a spark data frame, print schema & top rows
results = spark.read.option("inferSchema", "true").csv('/product_review_data').toDF("Item_ID", "Review")

Starting Spark application

SparkSession available as 'spark'.

In [4]:
# Save results as parquet file and create hive table
results.write.format("parquet").mode("overwrite").saveAsTable("Top_Product_Reviews")

In [5]:
# Execute Spark SQL commands
sqlDF = spark.sql("SELECT * FROM Top_Product_Reviews LIMIT 10")
sqlDF.show()

+-------+--------------------+
|Item_ID|              Review|
+-------+--------------------+
|  72621|Works fine. Easy ...|
|  89334|great product to ...|
|  89335|Next time will go...|
|  84259|Great Gift Great ...|
|  84398|After trip to Par...|
|  66434|Simply the best t...|
|  66501|This is the exact...|
|  66587|Not super magnet;...|
|  66680|Installed as bath...|
|  66694|Our home was buil...|
+-------+--------------------+

## Next Steps: Continue on to Working with Spark and Machine Learning

Now you're ready to open the final Python Notebook in this tutorial series - `bdc_tutorial_05.ipynb` - to learn how to create and work with Spark and Machine Learning.